---
import Layout from "../layouts/Layout.astro";
import cyan from "../assets/images/cyan.png";
---

<Layout title="nekoszip - mrrp meow">
			<!--
			<div id="header">
					<h1>cutest collective around</h1>
			</div>
			-->
			<div id="body">
				<div id="content">
					<img src={cyan.src} id="cyan" />
					<div id="links">
						<a href="https://alyxia.dev">Alyxia</a>
						<a href="https://nax.dev">Nax</a>
						<a href="https://remiiiiii.online/">moon</a>
						<a href="#">woot</a>
						<a href="#">squirrelly</a>
						<a href="https://noia.site">noia</a>
					</div>
				</div>
			</div>
		</body>
	</html>
</Layout>
