---
import IndexLayout from "#layouts/IndexLayout.astro";
---

<IndexLayout>
  <h1>
    I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA I AM
    ALYXIA I AM ALYXIA I AM ALYXIA I AM ALYXIA
  </h1>
</IndexLayout>

<style scoped>
  body {
    background: url(/alyxia/images/effct.gif);
    image-rendering: pixelated;
    background-size: cover;
  }

  h1 {
    color: #d5d5d5;
    text-align: center;
    font-size: 3vw;
    mix-blend-mode: color-dodge;
    overflow-wrap: break-word;
  }
</style>
