---
import IndexLayout from "#layouts/IndexLayout.astro";
---

<IndexLayout>
  <div class="container">
    <div>I am \c[1]Alyxia\c[0].</div>
  </div>
</IndexLayout>

<style scoped lang="scss">
  .container {
    position: fixed;
    z-index: 99;
    background-color: black;
    border: white solid 2px;
    padding: 2rem;
  }
</style>
